In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

In [2]:
df_2019 = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2019.xlsx",
            sheet_name = "Trade Atlas Records - Jan")
for i in ["Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]:
          df = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2019.xlsx",
            sheet_name = f"Trade Atlas Records - {i}")
          df_2019 = pd.concat([df_2019,df],axis = 0)

In [3]:
df_2021 = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2021.xlsx",
            sheet_name = "January")
for i in ['February', 'March', 'April', 'May data', 'June','July', 'August', 'Sept', 'October', 'November', 'Dec 1' , 'Dec 2']:
          df = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2021.xlsx",
            sheet_name = f"{i}")
          df_2021 = pd.concat([df_2021,df],axis = 0)

In [4]:
 df_2018 = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2018.xlsx",
            sheet_name = "Trade Atlas Records - Jan")
for i in ["Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]:
          df = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2018.xlsx",
            sheet_name = f"Trade Atlas Records - {i}")
          df_2018 = pd.concat([df_2018,df],axis = 0)

In [5]:
 df_2020 = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2020.xlsx",
            sheet_name = "Jan")
for i in ["Feb","March","April","May","June","July","August","Sept","October","Nov","Dec"]:
          df = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2020.xlsx",
            sheet_name = f"{i}")
          df_2020 = pd.concat([df_2020,df],axis = 0)

In [6]:
 df_2022 = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2022.xlsx",
            sheet_name = "Jan")
for i in ["Feb","March","April","May","June","July 1","July-2","Aug - 1","Aug - 2","Sept - 1","Sept - 1",
          "Octo - 1","Oct - 2","Nov - 1","Nov - 1"]:
          df = pd.read_excel("C:/Users/NOOMAN KHAN/Desktop/Rice Data/drive-download-20230209T113119Z-001/Rice Exporters 2022.xlsx",
            sheet_name = f"{i}")
          df_2022 = pd.concat([df_2022,df],axis = 0)

In [7]:
pd.options.display.max_columns = None

In [8]:
df = pd.concat([df_2018,df_2019,df_2020,df_2021,df_2022] , axis = 0)
df = df[["ARRIVAL DATE","HS CODE DESCRIPTION","IMPORTER NAME","IMPORTER COUNTRY","CITY STATE"
         ,"EXPORTER NAME","COUNTRY OF ORIGIN","EXPORTER ADDRESS","IMPORT VALUE FOB","QUANTITY",
        "QUANTITY UNIT"]]

In [9]:
df["QUANTITY UNIT"].unique()

array(['MTS', 'KGS', 'NOS', 'PCS', 'kg', 'KGM', 'CTN', 'кг', 'BAG', nan,
       'BOX', 'PAC', 'KG', 'Kg', 'PKG', 'TON', 'KILOGRAMOS NETOS', 'MTR',
       'Kgm', 'KILOGRAMMES', 'QTL', 'BG', 'kilos', 'QUILOGRAMA LIQUIDO',
       'Net kg', 'LOT', 'SQM', 'Kilogram', 'CRT', 'SET', 'Kilogramos',
       'Tonelada', 'BGS', 'TONS', 'LBS', 'GMS', 'VPK', 'BUN', 'Kilo',
       'TBN', 'BX', 'PCK', 'PK', 'CT', 'NET KG', 'PD', 'PX', 'TONELADA',
       'ZB', 'Toneladas', 'SA', 'PIECE', 'Box (Caja)', 'TNE', 'CS',
       'BAGS', 'PACKAGES', 'LTR', 'KILOGRAMO BRUTO', 'INC', 'TBS', 'DRM',
       'KLR', 'UNK', 'KILOS', 'KILOGRAM', 'CAS', 'КГ', 'KGA', 'CARTONS',
       'PACKAGE(S)', 'CTM', 'Kg.', 'MDW', 'BOXES', 'ШТ', 'Tons', 'PCE',
       'SAC', 'BAGS  PLASTIC', 'PACKAGE / PARCEL', 'UNIT (UNIDAD)',
       'KILO', 'PIECE(S)', 'KILOGRAMO', 'CONTAINER(S)  N.O.S.',
       'PACKAGE  DISPLAY  WOODEN', 'PALLETS', 'PACKAGE', 'Unidades',
       'BOPP BAGS', 'PP BAGS', 'JUTE BAG', 'WPPB BAGS', 'POLY PACK',
       'BIG BAG', 'BULK LINER BAG', 'BAG POLYBAG'], dtype=object)

In [11]:
df["QUANTITY UNIT"].unique()

array(['MTS', 'KGS', 'NOS', 'PCS', 'kg', 'KGM', 'CTN', 'кг', 'BAG', nan,
       'BOX', 'PAC', 'KG', 'Kg', 'PKG', 'TON', 'KILOGRAMOS NETOS', 'MTR',
       'Kgm', 'KILOGRAMMES', 'QTL', 'BG', 'kilos', 'QUILOGRAMA LIQUIDO',
       'Net kg', 'LOT', 'SQM', 'Kilogram', 'CRT', 'SET', 'Kilogramos',
       'Tonelada', 'BGS', 'TONS', 'LBS', 'GMS', 'VPK', 'BUN', 'Kilo',
       'TBN', 'BX', 'PCK', 'PK', 'CT', 'NET KG', 'PD', 'PX', 'TONELADA',
       'ZB', 'Toneladas', 'SA', 'PIECE', 'Box (Caja)', 'TNE', 'CS',
       'BAGS', 'PACKAGES', 'LTR', 'KILOGRAMO BRUTO', 'INC', 'TBS', 'DRM',
       'KLR', 'UNK', 'KILOS', 'KILOGRAM', 'CAS', 'КГ', 'KGA', 'CARTONS',
       'PACKAGE(S)', 'CTM', 'Kg.', 'MDW', 'BOXES', 'ШТ', 'Tons', 'PCE',
       'SAC', 'BAGS  PLASTIC', 'PACKAGE / PARCEL', 'UNIT (UNIDAD)',
       'KILO', 'PIECE(S)', 'KILOGRAMO', 'CONTAINER(S)  N.O.S.',
       'PACKAGE  DISPLAY  WOODEN', 'PALLETS', 'PACKAGE', 'Unidades',
       'BOPP BAGS', 'PP BAGS', 'JUTE BAG', 'WPPB BAGS', 'POLY PACK',
       'BIG BAG', 'BULK LINER BAG', 'BAG POLYBAG'], dtype=object)

In [17]:
df.isnull().sum()

ARRIVAL DATE               0
HS CODE DESCRIPTION     2318
IMPORTER NAME           2613
IMPORTER COUNTRY           0
CITY STATE               186
EXPORTER NAME           2021
COUNTRY OF ORIGIN          0
EXPORTER ADDRESS       31335
IMPORT VALUE FOB           0
QUANTITY                   0
QUANTITY UNIT          20880
dtype: int64

In [18]:
df["QUANTITY UNIT"] = df["QUANTITY UNIT"].fillna("Kg")

In [19]:
df.isnull().sum()

ARRIVAL DATE               0
HS CODE DESCRIPTION     2318
IMPORTER NAME           2613
IMPORTER COUNTRY           0
CITY STATE               186
EXPORTER NAME           2021
COUNTRY OF ORIGIN          0
EXPORTER ADDRESS       31335
IMPORT VALUE FOB           0
QUANTITY                   0
QUANTITY UNIT              0
dtype: int64

In [31]:
df1 = df.copy()

In [36]:
df["QUANTITY UNIT"] = df["QUANTITY UNIT"].apply(lambda x:"Kg" if "K" in x else x)
df.head()

,ARRIVAL DATE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,CITY STATE,EXPORTER NAME,COUNTRY OF ORIGIN,EXPORTER ADDRESS,IMPORT VALUE FOB,QUANTITY,QUANTITY UNIT
0,2018-01-30 03:00:00,Rice Excptg Parboiled (Excl Basmati Rice),WALQ GENERAL TRADING,United Arab Emirates,United Arab Emirates,SCM AGROTECH ENTERPRISES PRIVATE LIMITED,India,"165&166A,ZONE1-M.P NAGAR, ,BHOPAL,MADHYA PRA...",25970.76,50.04,MTS
1,2018-01-30 03:00:00,Rice Excptg Parboiled (Excl Basmati Rice),FINE WAY INTERNATIONAL TRADING LLC.,United Arab Emirates,United Arab Emirates,SRI RAMA MODERN & PARA BOILED RICE MILL,India,"SARANGAPUR VILLAGENIZAMABAD. ,ANDHRA PRADESH...",25945.92,48.05,MTS
2,2018-01-30 03:00:00,Rice Excptg Parboiled (Excl Basmati Rice),SEMMALAI TRADING LLC.,United Arab Emirates,United Arab Emirates,LANDED FRESH INTERNATIONALS,India,"12/177, THAILAMPALAYAM,OLALAKOVI PO GOBICHETTI...",7480.05,25650.00,Kg
3,2018-01-30 03:00:00,"Rice, parboiled",INTEGRATED GREEN RESOURCES LLC.,United Arab Emirates,United Arab Emirates,REAL TIME GROCERY SOLUTIONS,India,NO.55/3 YESHWANTHPUR INDUSTRIAL SUBURB YESHWAN...,6069.33,9.56,MTS
4,2018-01-30 03:00:00,Rice Excptg Parboiled (Excl Basmati Rice),GBR GENERAL TRADING FZC.,United Arab Emirates,United Arab Emirates,SAMSKRUTHI EXPORTERS,India,"MUNICIPAL NO.3-6-224-225, F.NO.501, SRIDEVI ES...",13678.20,26.82,MTS

In [81]:
change = df[df["QUANTITY UNIT"].str.contains("BAG")]["QUANTITY"]*50
change.index = df[df["QUANTITY UNIT"].str.contains("BAG")].index
df.loc[df["QUANTITY UNIT"].str.contains("BAG") , "QUANTITY"] = change

In [82]:
df["QUANTITY UNIT"] = df["QUANTITY UNIT"].apply(lambda x:"Kg" if "BAG" in x else x)
df.head()

,ARRIVAL DATE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,CITY STATE,EXPORTER NAME,COUNTRY OF ORIGIN,EXPORTER ADDRESS,IMPORT VALUE FOB,QUANTITY,QUANTITY UNIT
0,2018-01-30 03:00:00,Rice Excptg Parboiled (Excl Basmati Rice),WALQ GENERAL TRADING,United Arab Emirates,United Arab Emirates,SCM AGROTECH ENTERPRISES PRIVATE LIMITED,India,"165&166A,ZONE1-M.P NAGAR, ,BHOPAL,MADHYA PRA...",25970.76,50.04,MTS
1,2018-01-30 03:00:00,Rice Excptg Parboiled (Excl Basmati Rice),FINE WAY INTERNATIONAL TRADING LLC.,United Arab Emirates,United Arab Emirates,SRI RAMA MODERN & PARA BOILED RICE MILL,India,"SARANGAPUR VILLAGENIZAMABAD. ,ANDHRA PRADESH...",25945.92,48.05,MTS
2,2018-01-30 03:00:00,Rice Excptg Parboiled (Excl Basmati Rice),SEMMALAI TRADING LLC.,United Arab Emirates,United Arab Emirates,LANDED FRESH INTERNATIONALS,India,"12/177, THAILAMPALAYAM,OLALAKOVI PO GOBICHETTI...",7480.05,25650.00,Kg
3,2018-01-30 03:00:00,"Rice, parboiled",INTEGRATED GREEN RESOURCES LLC.,United Arab Emirates,United Arab Emirates,REAL TIME GROCERY SOLUTIONS,India,NO.55/3 YESHWANTHPUR INDUSTRIAL SUBURB YESHWAN...,6069.33,9.56,MTS
4,2018-01-30 03:00:00,Rice Excptg Parboiled (Excl Basmati Rice),GBR GENERAL TRADING FZC.,United Arab Emirates,United Arab Emirates,SAMSKRUTHI EXPORTERS,India,"MUNICIPAL NO.3-6-224-225, F.NO.501, SRIDEVI ES...",13678.20,26.82,MTS

In [84]:
df["QUANTITY UNIT"].unique()

array(['MTS', 'Kg', 'NOS', 'PCS', 'kg', 'CTN', 'кг', 'BOX', 'PAC', 'TON',
       'MTR', 'QTL', 'BG', 'kilos', 'QUILOGRAMA LIQUIDO', 'Net kg', 'LOT',
       'SQM', 'CRT', 'SET', 'Tonelada', 'BGS', 'TONS', 'LBS', 'GMS',
       'BUN', 'TBN', 'BX', 'CT', 'PD', 'PX', 'TONELADA', 'ZB',
       'Toneladas', 'SA', 'PIECE', 'Box (Caja)', 'TNE', 'CS', 'LTR',
       'INC', 'TBS', 'DRM', 'CAS', 'КГ', 'CARTONS', 'CTM', 'MDW', 'BOXES',
       'ШТ', 'Tons', 'PCE', 'SAC', 'UNIT (UNIDAD)', 'PIECE(S)',
       'CONTAINER(S)  N.O.S.', 'PALLETS', 'Unidades'], dtype=object)

In [ ]:
df["QUANTITY UNIT"] = df["QUANTITY UNIT"].apply(lambda x:"TON" if "MTS" in x else x)
df["QUANTITY UNIT"] = df["QUANTITY UNIT"].apply(lambda x:"TON" if "TONS" in x else x)
df["QUANTITY UNIT"] = df["QUANTITY UNIT"].apply(lambda x:"TON" if "MTS" in x else x)
df["QUANTITY UNIT"] = df["QUANTITY UNIT"].apply(lambda x:"TON" if "MTS" in x else x)

Kg (Kilograms)

NOS (Number of Pieces)

PCS (Pieces)

CTN (Cartons)

TON (Tons)

MTR (Meters)

QTL (Quintal)

BG (Bags)

CRT (Carats)

SET (Sets)

LBS (Pounds)

GMS (Grams)

TNE (Tones)

LTR (Liters)

Tons (Tons)

TNE (Tones)

PIECE (Pieces)

BOX (Box)

TBS (Tablespoons)

DRAM (Drams)

KG (Kilograms)

Tons (Tons)

PCE (Pieces)

LTR (Liters)

UNIT (Unit)

BOXES (Boxes)

UNIDADES (Units)